# Default ignored files
/../../DZ_ST_C_08 /.idea/shelf/
/../../DZ_ST_C_08 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../DZ_ST_C_08 /.idea/httpRequests/
# Datasource local storage ignored files
/../../DZ_ST_C_08 /.idea/dataSources/
/../../DZ_ST_C_08 /.idea/dataSources.local.xml
